<h1>Editar endereço</h1>

<form #formEndereco="ngForm">
  <div class="form-group">
    <label for="logradouro">Logradouro:</label> <br />
    <input
      type="radio"
      name="logradouro"
      value="Rua"
      [(ngModel)]="endereco.logradouro"
    />
    Rua <br />
    <input
      type="radio"
      name="logradouro"
      value="Travessa"
      [(ngModel)]="endereco.logradouro"
    />
    Travessa <br />
    <input
      type="radio"
      name="logradouro"
      value="Avenida"
      [(ngModel)]="endereco.logradouro"
    />
    Avenida <br />
    <input
      type="radio"
      name="logradouro"
      value="Alameda"
      [(ngModel)]="endereco.logradouro"
    />
    Alameda <br />
  </div>
  <div class="form-group">
    <label for="rua">Rua: </label>
    <input
      [(ngModel)]="endereco.rua"
      #rua="ngModel"
      name="rua"
      id="input_rua"
      type="text"
      class="form-control"
      placeholder="Rua"
      required
      minlength="3"
      autocomplete="street-address"
    />
    <div
      *ngIf="rua.errors && (rua.dirty || rua.touched)"
      class="alert alert-danger"
    >
      <div [hidden]="!rua.errors.required">Digite a rua.</div>
      <div [hidden]="!rua.errors.minlength">
        A rua deve conter pelo menos 3 caracteres.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="numero">Número: </label>
    <input
      [(ngModel)]="endereco.numero"
      #numero="ngModel"
      name="numero"
      id="input_numero"
      type="text"
      class="form-control"
      placeholder="Número"
      numerico
      required
    />
    <div
      *ngIf="numero.errors && (numero.dirty || numero.touched)"
      class="alert alert-danger"
    >
      <div [hidden]="!numero.errors.required">Digite o número.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="complemento">Complemento: </label>
    <input
      [(ngModel)]="endereco.complemento"
      #complemento="ngModel"
      name="complemento"
      id="input_complemento"
      type="text"
      class="form-control"
      placeholder="complemento"
    />
  </div>
  <div class="form-group">
    <label for="bairro">Bairro: </label>
    <input
      [(ngModel)]="endereco.bairro"
      #bairro="ngModel"
      name="bairro"
      id="input_bairro"
      type="text"
      class="form-control"
      placeholder="Bairro"
      minlength="3"
      required
    />
    <div
      *ngIf="bairro.errors && (bairro.dirty || bairro.touched)"
      class="alert alert-danger"
    >
      <div [hidden]="!bairro.errors.required">Digite o bairro.</div>
      <div [hidden]="!bairro.errors.minlength">
        O bairro deve conter pelo menos 3 caracteres.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="cep">CEP: </label>
    <input
      [(ngModel)]="endereco.cep"
      #cep="ngModel"
      name="cep"
      id="input_cep"
      type="text"
      class="form-control"
      placeholder="CEP"
      required
      mask="00000-000"
      maxlength="9"
      autocomplete="postal-code"
    />
    <div
      *ngIf="cep.errors && (cep.dirty || cep.touched)"
      class="alert alert-danger"
    >
      <div [hidden]="!cep.errors.required">Digite o CEP do endereço.</div>
      <div [hidden]="!cep.errors.maxlength">
        O CEP deve conter até 10 caracteres.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="cidade">Cidade: </label>
    <ng-select
      [items]="cidades"
      bindLabel="nome"
      [(ngModel)]="endereco.cidade"
      #cidade="ngModel"
      name="cidade"
      placeholder="Selecione a Cidade"
      required
    >
    </ng-select>
  </div>
  <div class="form-group">
    <label for="residencial">Residencial: </label>
    <input
      [(ngModel)]="endereco.residencial"
      #residencial="ngModel"
      name="residencial"
      id="residencial_input"
      type="checkbox"
      class="form-check-input"
    />
  </div>
  <button
    [disabled]="!formEndereco.form.valid"
    type="button"
    (click)="atualizar()"
    class="btn btn-primary"
  >
    <i class="fa fa-save" aria-hidden="true"></i> Atualizar
  </button>
  <a class="btn btn-secondary" href="#" [routerLink]="['/enderecos']"
    ><i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar</a
  >
</form>
